  <div class="content container">
    <div class="page-wrapper">
      <header class="page-heading clearfix">
        <h1 class="heading-title pull-left">Bolt Former Machine List</h1>
        <div class="breadcrumbs pull-right">
          <ul class="breadcrumbs-list">
              <li class="breadcrumbs-label">You are here:</li>
              <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
              <li><a href="#">Facilities</a><i class="fa fa-angle-right"></i></li>
              <li class="current">Bolt Former Machine List</li>
          </ul>
        </div>
      </header>
      <div class="page-content"></div>
        <div class="row page-row">
          <aside class="page-sidebar col-md-2 col-sm-4 affix-top">
            <section class="widget">
                <ul class="nav">
                  <li class="active"><a href="/facilities/bolt">Bolt Former </a></li>
                  <li><a href="/facilities/nut">Nut Former</a></li>
                  <li><a href="/facilities/stamping">Stamping</a></li>
                </ul>
                </section><!--//widget-->
          </aside>
          <div class="content-wrapper col-md-5 col-sm-4">
            <ul class="custom-list-style">
              <li><i class="fa fa-star"></i>½ 4B4D x 4” = 5 Sets</li>
              <li><i class="fa fa-star"></i>½ 5B5D x 6” = 3 Sets</li>
              <li><i class="fa fa-star"></i>5/8 4B4D x 6” = 1 Set</li>
              <li><i class="fa fa-star"></i>5/8 5B5D x 6” = 1 Set</li>
              <li><i class="fa fa-star"></i>¾ 4B4D x 6” = 1 Set</li>
              <li><i class="fa fa-star"></i>5/16 3B3D x 2” = 3 Sets</li>
              <li><i class="fa fa-star"></i>5/16 4B4D x 3” = 1 Set</li>
              <li><i class="fa fa-star"></i>3/8 Tubular Rivet Machine = 2 Sets</li>
              <li><i class="fa fa-star"></i>5/16 Tubular Rivet Machine = 9 Sets</li>
              <li><i class="fa fa-star"></i>3/16 Tubular Rivet Machine = 2 Sets</li>
              <li><i class="fa fa-star"></i>Wire Diameter = 3.0 – 30.0 mm</li>
              <li><i class="fa fa-star"></i>Flange Diameter = 65 mm Max</li>
            </ul>
          </div>
          <div class="content-wrapper col-md-5 col-sm-4">
            <img class="img-responsive" src="<%= asset_path "facilities/bolt.png"%>" alt=""/>
          </div>
        </div>
      </div>
    </div>
  </div>
