  <div class="content container">
    <div class="page-wrapper">
      <header class="page-heading clearfix">
        <h1 class="heading-title pull-left">Nut Former Machine List</h1>
        <div class="breadcrumbs pull-right">
          <ul class="breadcrumbs-list">
              <li class="breadcrumbs-label">You are here:</li>
              <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
              <li><a href="#">Facilities</a><i class="fa fa-angle-right"></i></li>
              <li class="current">Bolt Former Machine List</li>
          </ul>
        </div>
      </header>
      <div class="page-content"></div>
        <div class="row page-row">
          <aside class="page-sidebar col-md-2 col-sm-4 affix-top">
            <section class="widget">
                <ul class="nav">
                  <li><a href="/facilities/bolt">Bolt Facility</a></li>
                  <li class="active"><a href="/facilities/nut">Nut Facility</a></li>
                  <li><a href="/facilities/stamping">Stamping Facility</a></li>
                </ul>
            </section><!--//widget-->
          </aside>
          <div class="content-wrapper col-md-5 col-sm-4">
            <ul class="custom-list-style">
              <li><i class="fa fa-star"></i>11B= 6 Sets</li>
              <li><i class="fa fa-star"></i>14B= 9 Sets</li>
              <li><i class="fa fa-star"></i>19B= 5 Sets</li>
              <li><i class="fa fa-star"></i>22B= 1 Set</li>
              <li><i class="fa fa-star"></i>24B= 3 Sets</li>
              <li><i class="fa fa-star"></i>27B= 1 Set</li>
              <li><i class="fa fa-star"></i>33B= 1 Set</li>
            </ul>
          </div>
          <div class="content-wrapper col-md-5 col-sm-4">
            <img class="img-responsive" src="<%= asset_path "facilities/nut.png"%>" alt=""/>
            <br />
          </div>
        </div>
        <div class="row page-row">
          <aside class="page-sidebar col-md-2 col-sm-4 affix-top"></aside>
          <div class="col-md-8 panel panel-default" style="left:60px;"><!--//video-->
            <section class="video panel-body">
              <div class="section-content">
                <div id="videos-carousel" class="videos-carousel carousel slide">
                  <div class="carousel-inner">
                    <div class="item active" align="center">
                      <iframe class="video-iframe" src="//www.youtube.com/embed/IOsvXA_L35I?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen="" width="100%" height="480" ></iframe>
                    </div>
                  </div>
                </div><!--//videos-carousel-->
                <p class="description">Aenean feugiat a diam tempus sodales. Quisque lorem nulla, ultrices imperdiet malesuada at, suscipit vel lorem. Nulla dignissim nisi ac aliquet semper.</p>
              </div><!--//section-content-->
            </section>
          </div>
          <aside class="page-sidebar col-md-3 col-sm-4 affix-top"></aside>
        </div>
      </div>
    </div>
  </div>
