  <div class="content container">
    <div class="page-wrapper">
      <header class="page-heading clearfix">
        <h1 class="heading-title pull-left">Nut Former Machine List</h1>
        <div class="breadcrumbs pull-right">
          <ul class="breadcrumbs-list">
              <li class="breadcrumbs-label">You are here:</li>
              <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
              <li><a href="#">Facilities</a><i class="fa fa-angle-right"></i></li>
              <li class="current">Bolt Former Machine List</li>
          </ul>
        </div>
      </header>
      <div class="page-content"></div>
        <div class="row page-row">
          <aside class="page-sidebar col-md-2 col-sm-4 affix-top">
            <section class="widget">
                <ul class="nav custom_font">
                  <li><a href="/facilities/bolt">Bolt Facility</a></li>
                  <li class="active"><a href="/facilities/nut">Nut Facility</a></li>
                  <li><a href="/facilities/stamping">Stamping Facility</a></li>
                </ul>
            </section><!--//widget-->
          </aside>
          <div class="content-wrapper col-md-5 col-sm-4">
           <div class="table-responsive">
             <table class="table table-striped">
               <tbody>
                 <tr><td class="list-font-size">11B= 6 Sets</td></tr>
                 <tr><td class="list-font-size">14B= 9 Sets</td></tr>
                 <tr><td class="list-font-size">19B= 5 Sets</td></tr>
                 <tr><td class="list-font-size">22B= 1 Set</td></tr>
                 <tr><td class="list-font-size">24B= 3 Sets</td></tr>
                 <tr><td class="list-font-size">27B= 1 Set</td></tr>
                 <tr><td class="list-font-size">33B= 1 Set</td></tr>
               </tbody>
             </table>
           </div>
          </div>
          <div class="content-wrapper col-md-5 col-sm-4">
            <img class="img-responsive" src="<%= asset_path "facilities/nut.png"%>" alt=""/>
            <br />
            <div class="panel panel-default" style="left:60px;"><!--//video-->
              <section class="video panel-body">
                <div class="section-content">
                  <div id="videos-carousel" class="videos-carousel carousel slide">
                    <div class="carousel-inner">
                      <div class="item active" align="center">
                        <iframe class="video-iframe" src="//www.youtube.com/embed/IOsvXA_L35I?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen="" width="100%" height="360" ></iframe>
                      </div>
                    </div>
                  </div><!--//videos-carousel-->
                  <p class="description"></p>
                </div><!--//section-content-->
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
