  <div class="content container">
    <div class="page-wrapper">
      <header class="page-heading clearfix">
        <div class="breadcrumbs pull-right">
          <ul class="breadcrumbs-list">
              <li class="breadcrumbs-label">You are here:</li>
              <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
              <li><a href="#">Facilities</a><i class="fa fa-angle-right"></i></li>
              <li class="current">Stamping Machine List</li>
          </ul>
        </div>
      </header>
      <div class="page-content"></div>
          <aside class="page-sidebar col-md-2 col-sm-4 affix-top">
            <section class="widget">
                <ul class="nav custom_font">
                  <li><a href="/facilities/bolt">Bolt Facility</a></li>
                  <li><a href="/facilities/nut">Nut Facility</a></li>
                  <li class="active"><a href="/facilities/stamping">Stamping Facility</a></li>
                </ul>
            </section><!--//widget-->
          </aside>

          <div class="content-wrapper col-md-5 col-sm-4">
            <img class="img-responsive" src="<%= asset_path "facilities/stamping.png"%>" alt=""/>
            <br />
          </div>
          <div class="content-wrapper col-md-5 col-sm-4">
            <div class="section-content">
              <div id="videos-carousel" class="videos-carousel carousel slide">
                <div class="carousel-inner">
                  <div class="item active" align="center">
                    <iframe class="video-iframe" src="//www.youtube.com/embed/pQRZ8dWAcUg?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen="" width="100%" height="348" ></iframe>
                  </div>
                </div>
              </div><!--//videos-carousel-->
            <p class="description"></p>
            </div><!--//section-content-->
          </div>

          <div class="content-wrapper col-md-10 col-sm-8 col-md-offset-2">
            <h1 class="heading-title" align="center">Stamping Machine List</h1>
            <div class="table-responsive">
             <table class="table table-striped">
               <tbody>
                 <tr><td class="list-font-size">200 tons – 2 Sets</td></tr>
                 <tr><td class="list-font-size">160 tons – 3 Sets</td></tr>
                 <tr><td class="list-font-size">110 tons – 11 Sets</td></tr>
                 <tr><td class="list-font-size">80 tons – 7 Sets</td></tr>
                 <tr><td class="list-font-size">60 tons – 2 Sets</td></tr>
                 <tr><td class="list-font-size">45 tons – 22 Sets</td></tr>
                 <tr><td class="list-font-size">35 tons – 5 Sets</td></tr>
                 <tr><td class="list-font-size">200 tons – 3 Sets</td></tr>
                 <tr><td class="list-font-size">260 tons – 2 Sets</td></tr>
                 <tr><td class="list-font-size">350 tons – 1 Sets</td></tr>
                 <tr><td class="list-font-size">400 tons – 1 Sets</td></tr>
               </tbody>
             </table>
            </div>
          </div>




          </div>
        </div>
    </div>
  </div>

