  <div class="content container">
    <div class="page-wrapper">
      <header class="page-heading clearfix">
        <h1 class="heading-title pull-left">Stamping Machine List</h1>
        <div class="breadcrumbs pull-right">
          <ul class="breadcrumbs-list">
              <li class="breadcrumbs-label">You are here:</li>
              <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
              <li><a href="#">Facilities</a><i class="fa fa-angle-right"></i></li>
              <li class="current">Stamping Machine List</li>
          </ul>
        </div>
      </header>
      <div class="page-content"></div>
        <div class="row page-row">
          <aside class="page-sidebar col-md-2 col-sm-4 affix-top">
            <section class="widget">
                <ul class="nav">
                  <li><a href="/facilities/bolt">Bolt Former </a></li>
                  <li><a href="/facilities/nut">Nut Former</a></li>
                  <li class="active"><a href="/facilities/stamping">Stamping</a></li>
                </ul>
            </section><!--//widget-->
          </aside>
          <div class="content-wrapper col-md-5 col-sm-4"></div>
          <div class="content-wrapper col-md-5 col-sm-4"></div>
        </div>
    </div>
  </div>

