<body class="home-page">
    <div class="wrapper">
      <!-- ******CONTENT****** -->
      <div class="content container">
      <div class="col-md-4">
          <section class="video">
              <div class="section-content">
                <div id="videos-carousel" class="videos-carousel carouse slide">
                  <div class="carousel-inner">
                    <div class="item active">
                      <iframe class="video-iframe" src="https://www.youtube.com/embed/7htZkSe-MfY" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                  </div>
                </div><!--//videos-carousel-->
              </div><!--//section-content-->
          </section></div>
          <div class="col-md-4">
            <section class="video">
              <div class="section-content">
                <div id="videos-carousel" class="videos-carousel carousel slide">
                  <div class="carousel-inner">
                      <div class="item active">
                        <iframe class="video-iframe" src="https://www.youtube.com/embed/pQRZ8dWAcUg" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                  </div>
                </div><!--//videos-carousel-->
              </div><!--//section-content-->
            </section>
          </div>
          <div class="col-md-4">
            <section class="video">
              <div class="section-content">
                <div id="videos-carousel" class="videos-carousel carousel slide">
                  <div class="carousel-inner">
                      <div class="item active">
                        <iframe class="video-iframe" src="https://www.youtube.com/embed/pQRZ8dWAcUg" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                  </div>
                </div><!--//videos-carousel-->
              </div><!--//section-content-->
            </section>
          </div>

          <div class="col-md-12">
            <div id="promo-slider" class="slider flexslider">
              <ul class="slides">
                <% @slides.each do |slide| %>
                  <li><%= image_tag slide.image %></li>
                <% end %>
              </ul><!--//slides-->
            </div>
          </div>

          <section class="promo box box-dark">
              <div class="col-md-9">
              <h1 class="section-heading">Why Locksure</h1>
                  <p>Locksure provide progressive stamping, deep drawing, in-die tapping.</p>
              </div>
              <div class="col-md-3">
                  <%= link_to "Contact Us", contact_index_path, class: "btn btn-cta"%>
              </div>
          </section><!--//promo-->
      </div>
      </div><!--//content-->
  </div><!--//wrapper-->
</body>


