<body class="home-page">
    <div class="wrapper">
      <!-- ******CONTENT****** --> 
      <div class="content container">
          <div id="promo-slider" class="slider flexslider">
              <ul class="slides">
                  <li>
                      <%= image_tag "slides/slide-1.jpg" %>
                  </li>
                  <li>
                      <%= image_tag "slides/slide-2.jpg" %>
                  </li>
                  <li>
                      <%= image_tag "slides/slide-3.jpg" %>
                  </li>
                  <li>
                      <%= image_tag "slides/slide-4.jpg" %>
                  </li>
              </ul><!--//slides-->
          </div><!--//flexslider-->
      </div><!--//content-->
  </div><!--//wrapper-->
    <script type="text/javascript" src="assets/plugins/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
    <script type="text/javascript" src="assets/plugins/bootstrap-hover-dropdown.min.js"></script> 
    <script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="assets/plugins/pretty-photo/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="assets/plugins/jflickrfeed/jflickrfeed.min.js"></script> 
    <script type="text/javascript" src="assets/js/main.js"></script>
</body>


