<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi,</p>
    <p>
      <%=@contact[:name] %>
    </p>
    <p>
      <%=@contact[:email] %>
    </p>
    <p>
      <%=@contact[:phone] %>
    </p>
    <p>
      <%=@contact[:message] %>
    </p>
  </body>
</html>