<div class="wrapper">
    <!-- ******CONTENT****** -->
    <div class="content container">
        <div class="page-wrapper">
            <header class="page-heading clearfix">
                <h1 class="heading-title pull-left">About</h1>
                <div class="breadcrumbs pull-right">
                    <ul class="breadcrumbs-list">
                        <li class="breadcrumbs-label">You are here:</li>
                        <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
                        <li class="current">About</li>
                    </ul>
                </div><!--//breadcrumbs-->
            </header>
            <div class="page-content">
                <div class="row page-row">
                  <aside class="page-sidebar col-md-2 col-sm-4 affix-top">
                    <section class="widget">
                      <ul class="nav custom_font">
                        <li><a href="/about/introduction">Introduction</a></li>
                        <li><a href="/about/companyfocus">Company Focus</a></li>
                        <li class="active"><a href="/about/anti-bribery">Anti-Bribery</a></li>
                      </ul>
                    </section><!--//widget-->
                  </aside>
                    <article class="welcome col-md-8 col-sm-7">
                        <h2 class="has-divider">Anti-Bribery</h2>
                        <dl class="dl-horizontal">
                            <dt>文件名稱</dt>
                            <dd>反腐敗反賄賂管制程序</dd>
                            <dt>文件編號</dt>
                            <dd>QP05</dd>
                        </dl>
                        <ol>
                            <li>
                                <h5>目的：</h5>
                                <p>為推動商業活動的反腐敗和反賄賂工作，加強企業內控機制，做到誠實守信，樹立以守法誠信、優質服務為核心的經營理念，制定本程序。</p>
                            </li>
                            <li>
                                <h5>範圍：</h5>
                                <ul class="list-unstyled">
                                    <li>2.1 在公司範圍內從事物料採購、業務銷售、設備採購和維護、品質監督等活動以及人員、財物管理過程中適用本程序。</li>
                                    <li>2.2 所有與公司的客戶、供應商、服務商、承包商等有往來的相關業務人員。</li>
                                </ul>
                            </li>
                            <li>
                                <h5>作業內容：</h5>
                                <ul class="list-unstyled">
                                    <li>3.1 實行預防商業賄賂承諾，第2節包涵之相關人員向公司簽訂《反腐敗反賄賂承諾書》。</li>
                                    <li>
                                        <h6>3.2 公司管理部作為預防商業賄賂承諾制的監督管理部門，其主要職責是：</h6>
                                        <ul class="list-unstyled" style="margin-left: 20px;">
                                            <li>3.2.1 遵照國家有關政策、法律、法規和規章制度開展公司治理商業賄賂工作；</li>
                                            <li>3.2.2 加強對重要部位、重要環節人員廉潔從業的監督與管理；</li>
                                            <li>3.2.3 負責對公司執行本辦法的情況進行跟蹤監督檢查。</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h6>3.3 承諾人/公司應遵循以下之責：</h6>
                                        <ul class="list-unstyled" style="margin-left:20px">
                                            <li>3.3.1 嚴格履行在承諾書所承諾的內容；</li>
                                            <li>3.3.2 禁止任何形式的商業賄賂行為；</li>
                                            <li>3.3.3 自覺接受預防商業賄賂監管部門（管理部）的管理；</li>
                                            <li>3.3.4 若違反承諾，服從監督管理部門按有關規定處理。</li>
                                        </ul>
                                    </li>
                                    <li>3.4 在開展治理商業賄賂工作中，公司管理部門與相關部門應加強資訊溝通、互相配合。</li>
                                    <li>3.5 及時處理預防商業賄賂工作中發現的問題。各部門在開展預防商業賄賂工作中，對發現存在的違法違紀問題，要及時制止或處理並向有關部門通報情況，涉嫌犯罪的應當移送司法機關處理。</li>
                                    <li>3.6 對公司重要崗位的人員違反的，應當根據違反行為的情節輕重，依照有關規定給予相應的處理。</li>
                                    <li>3.7 公司鼓勵員工及有業務來往的公司檢舉揭發腐敗行為，檢舉的受理、調查等各個環節，必須嚴格保密，嚴禁洩露檢舉人的姓名、部門、公司名稱等情況，嚴禁將舉報情況透露給被舉報人或者部門，調查核實情況時，不得出示檢舉材料原件或者影本，不得暴露檢舉人，對匿名的檢舉書信及材料，不得鑒定筆跡，檢舉材料不得隨意對外借閱。</li>
                                    <li>
                                        <h6>3.8  匿名舉報可通過意見箱，或發廉政負責人郵箱。</h6>
                                        <ul class="list-unstyled">
                                            <li> 聯繫部門：辦公室 </li>
                                            <li> 連絡人：柯小姐 </li>
                                            <li> 舉報電話：+886 2 89131236 </li>
                                            <li> 舉報電郵：janeke@locksure.com.tw </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h5>記錄之保存</h5>
                                <ul class="list-unstyled">
                                    <li>4.1 反腐敗反賄賂承諾書應保留至員工離職後三年。</li>
                                </ul>
                            </li>
                            <li>
                                <h5>參考文件</h5>
                               《刑法第四章瀆職罪及貪污治罪條例》
                            </li>
                            <li>
                                <h5>相關記錄</h5>
                                <ul class="list-unstyled">
                                    <li>6.1  LS-FOR-0502反腐敗反賄賂承諾書</li>
                                </ul>
                            </li>
                        </ol>
                    </article><!--//page-content-->
                </div><!--//page-row-->
            </div><!--//page-content-->
        </div><!--//page-->
    </div><!--//content-->
</div><!--//wrapper-->



