<div class="wrapper">
    <!-- ******CONTENT****** --> 
    <div class="content container">
        <div class="page-wrapper">
            <header class="page-heading clearfix">
                <h1 class="heading-title pull-left">About</h1>
                <div class="breadcrumbs pull-right">
                    <ul class="breadcrumbs-list">
                        <li class="breadcrumbs-label">You are here:</li>
                        <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
                        <li class="current">About</li>
                    </ul>
                </div><!--//breadcrumbs-->
            </header> 
            <div class="page-content">
                <div class="row page-row">
                    <article class="welcome col-md-8 col-sm-7">                         
                        <h3 class="title">Welcome to College Green Online</h3>
                        <p><img class="img-responsive" src="assets/images/750x300-about.jpg" alt="" /></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat ipsum, sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus. </p>
                        <ul class="custom-list-style">
                            <li><i class="fa fa-check"></i>Lorem ipsum dolor sit ame</li>
                            <li><i class="fa fa-check"></i>Curabitur elit elit</li>
                            <li><i class="fa fa-check"></i>Nunc tincidunt ipsum a risus</li>
                            <li><i class="fa fa-check"></i>Integer vitae nisi a odio</li>
                            <li><i class="fa fa-check"></i>Suspendisse bibendum tempor</li>
                        </ul>
                        
                        <blockquote class="custom-quote">
                            <p><i class="fa fa-quote-left"></i>Viverra magna pellentesque in magnis gravida sit augue felis vehicula vestibulum semper penatibus justo ornare semper Gravida felis platea arcu mus non. Montes at posuere. Natoque.</p>
                            <p class="people"><span class="name">Adam Windsor</span><br><span class="title">Principle, College Green Online</span></p>
                        </blockquote>
                        <p>
                        Morbi semper. Hac euismod bibendum odio sed sociosqu primis magna suscipit facilisi litora viverra eget nibh praesent vehicula luctus Integer nostra ac duis metus orci.

Vehicula praesent dolor quam montes fames risus interdum. Tortor lacinia sem aenean sit tellus montes velit ultricies leo eget felis mollis quam. Non odio leo tempus condimentum. Neque. Potenti ornare sapien diam hymenaeos conubia ac. Euismod, venenatis Vulputate sodales morbi aliquet sollicitudin.    
                        </p>
                    </article><!--//page-content-->
                </div><!--//page-row-->
            </div><!--//page-content-->
        </div><!--//page--> 
    </div><!--//content-->
</div><!--//wrapper-->


<!-- Javascript -->          
<script type="text/javascript" src="assets/plugins/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="assets/plugins/bootstrap-hover-dropdown.min.js"></script> 
<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
<script type="text/javascript" src="assets/plugins/pretty-photo/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="assets/plugins/jflickrfeed/jflickrfeed.min.js"></script> 
<script type="text/javascript" src="assets/js/main.js"></script>   
