<div class="wrapper">
    <!-- ******CONTENT****** -->
    <div class="content container">
        <div class="page-wrapper">
            <header class="page-heading clearfix">
                <h1 class="heading-title pull-left">About</h1>
                <div class="breadcrumbs pull-right">
                    <ul class="breadcrumbs-list">
                        <li class="breadcrumbs-label">You are here:</li>
                        <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
                        <li class="current">About</li>
                    </ul>
                </div><!--//breadcrumbs-->
            </header>
            <div class="page-content">
                <div class="row page-row">
                  <aside class="page-sidebar col-md-2 col-sm-4 affix-top">
                    <section class="widget">
                      <ul class="nav">
                        <li class="active"><a href="/about/introduction">Introduction</a></li>
                        <li><a href="/about/companyfocus">Company Focus</a></li>
                      </ul>
                    </section><!--//widget-->
                  </aside>
                  <article class="welcome col-md-8 col-sm-7 watermark">
                        <!--<h3 class="title">Locksure’s New Plant in Chuanghua Ready to Take off. Automotive Welded Nut Runs in Mass Production by Kelly Wang,Fastener World Inc.</h3>-->
                        <!--<p><img class="img-responsive" src="assets/images/750x300-about.jpg" alt="" /></p>-->
                        <!--
                          <ul class="custom-list-style">
                              <li><i class="fa fa-check"></i>Lorem ipsum dolor sit ame</li>
                              <li><i class="fa fa-check"></i>Curabitur elit elit</li>
                              <li><i class="fa fa-check"></i>Nunc tincidunt ipsum a risus</li>
                              <li><i class="fa fa-check"></i>Integer vitae nisi a odio</li>
                              <li><i class="fa fa-check"></i>Suspendisse bibendum tempor</li>
                          </ul>
                        !-->
                        <!--
                        <blockquote class="custom-quote">
                            <p><i class="fa fa-quote-left"></i>Viverra magna pellentesque in magnis gravida sit augue felis vehicula vestibulum semper penatibus justo ornare semper Gravida felis platea arcu mus non. Montes at posuere. Natoque.</p>
                            <p class="people"><span class="name">Adam Windsor</span><br><span class="title">Principle, College Green Online</span></p>
                        </blockquote>
                        -->
                        <p>Founded in 1984, Locksure has been the leading special parts supplier in fastener industry. Product ranges from special cold formed parts to parts with secondary operation & assembly.</p>
                        <p>As the industry evolves, Locksure start supplying automotive parts to Tier1 & Tier2 automotive customers including BMW, Gestamp, Faurecia, Lear & Brose etc. To better serve the needs of quality-oriented automotive customers, Locksure is now in the process of TS16949 certification. We also invest in 3 factories that strengthen our manufacturing capabilities and product variety.</p>
                        <p>Having over 30 years of experience exporting to USA, Europe, South America & Middle East, Locksure can provide you all the service you need. With a wide range of product lines, great special part developing capability and strict quality control. Locksure is your best choice for automotive fasteners</p>
                  </article><!--//page-content-->
                </div><!--//page-row-->
            </div><!--//page-content-->
        </div><!--//page-->
    </div><!--//content-->
</div><!--//wrapper-->


