  <div class="wrapper">

    <!-- ******CONTENT****** -->
    <div class="content container">
        <div class="page-wrapper">
            <header class="page-heading clearfix">
                <h1 class="heading-title pull-left">Contact</h1>
                <div class="breadcrumbs pull-right">
                    <ul class="breadcrumbs-list">
                        <li class="breadcrumbs-label">You are here:</li>
                        <li><%=link_to "Home", root_path%><i class="fa fa-angle-right"></i></li>
                        <li class="current">Contact</li>
                    </ul>
                </div><!--//breadcrumbs-->
            </header>
            <div class="page-content">
                <div class="row">
                    <aside class="page-sidebar  col-md-4 col-md-offset-0  col-sm-4 col-sm-offset-0">
                        <section class="widget">
                            <h3 class="title">All Enquiries</h3>
                            <p class="tel"><i class="fa fa-phone"></i>Tel: +886 2 89131236 #21</p>
                            <div id="Email"><p class="email"><i class="fa fa-envelope"></i><a>Our Email</a></p></div>
                            <div style="display:none" id="realEmail"><p class="email"><i class="fa fa-envelope"></i><%= mail_to "sandy@locksure.com.tw"%></p></div>
                          </section>
                    </aside>
                    <aside class="page-sidebar  col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0">
                        <section class="widget has-divider">
                            <h3 class="title">Postal Address</h3>
                            <p class="adr">
                                <span class="adr-group">
                                    <span class="street-address">8F, No.207, Sec.3, Beixin Rd</span><br>
                                    <span class="region"> New Taipei City, Taiwan 231-43</span><br>
                                </span>
                            </p>
                        </section><!--//widget-->

                    </aside><!--//page-sidebar-->
                </div><!--//page-row-->
                <div class="page-row">
                    <article class="map-section">
                        <h3 class="title">How to find us</h3>
                        <div id="map"></div><!--//map-->
                    </article><!--//map-->
                </div><!--//page-row-->
            </div><!--//page-content-->
        </div><!--//page-wrapper-->
    </div><!--//content-->
  </div><!--//wrapper-->
  <!-- Javascript -->
  <script>
  $(document).ready(function(){
     $("#Email").click(function(){
       $(this).replaceWith($("#realEmail"));
       $("#realEmail").show();
     });
  });
  </script>
  <script type="text/javascript" src="assets/plugins/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/plugins/bootstrap-hover-dropdown.min.js"></script>
  <script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
  <script type="text/javascript" src="assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
  <script type="text/javascript" src="assets/plugins/pretty-photo/js/jquery.prettyPhoto.js"></script>
  <script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>
  <script type="text/javascript" src="assets/plugins/jflickrfeed/jflickrfeed.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="assets/plugins/gmaps/gmaps.js"></script>
  <script type="text/javascript" src="assets/js/map.js"></script>
  <script type="text/javascript" src="assets/js/main.js"></script>

