// Place all the styles related to the catelog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.right{
  float:right;
}
.watermark{
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0.05;
}
