<body class="gallery-page">
    <div class="wrapper">
    
        <!-- ******CONTENT****** --> 
        <div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Product</h1>
                    <div class="breadcrumbs pull-right">
                        <ul class="breadcrumbs-list">
                            <li class="breadcrumbs-label">You are here:</li>
                            <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
                            <li class="current">Product</li>
                        </ul>
                    </div><!--//breadcrumbs-->
                </header> 
                <div class="page-content">    
                    <div class="page-row">
                        <p></p>    
                        <p class="page-row text-muted"></p>
                    </div>
                    <div class="row page-row">
                        <% @categories.each do |category| %>
                            <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                                <div class="album-cover">
                                    <a href="gallery-album.html"><img class="img-responsive" src="assets/images/gallery/gallery-thumb-1.jpg" alt="" /></a>
                                    <div class="desc">
                                        <h4><small><%=link_to "#{category.name}", product_path(category) %></small></h4>
                                        <p><%= category.description%></p>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    </div><!--//page-row-->
                    
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    <!-- Javascript -->          
    <script type="text/javascript" src="assets/plugins/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
    <script type="text/javascript" src="assets/plugins/bootstrap-hover-dropdown.min.js"></script> 
    <script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="assets/plugins/pretty-photo/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="assets/plugins/jflickrfeed/jflickrfeed.min.js"></script> 
    <script type="text/javascript" src="assets/js/main.js"></script>   
    
</body>