<div class="wrapper">
  <!-- ******CONTENT****** --> 
  <div class="content container">
    <% @products.each do |product| %>
      <div style="margin-bottom:35px">
        <%= image_tag product.image %>
      </div>
    <% end %>
  </div>
</div>