<!-- ******HEADER****** --> 
<header class="header">  
    <div class="top-bar">
       
    </div><!--//to-bar-->
    <div class="header-main container">
        <h1 class="logo col-md-4 col-sm-4">
            <a href="index.html">
                <%= image_tag "logo.png", id: "logo", alt: "logo"%>
        </h1><!--//logo-->           
        <div class="info col-md-8 col-sm-8">
            <div class="contact pull-right">
                <p class="phone"><i class="fa fa-phone"></i>Call us today 0800 123 4567</p> 
                <p class="email"><i class="fa fa-envelope"></i><a href="#">enquires@website.com</a></p>
            </div><!--//contact-->
        </div><!--//info-->
    </div><!--//header-main-->
</header><!--//header-->