<!-- ******HEADER****** -->
<header class="header">
    <div class="top-bar">

    </div><!--//to-bar-->
    <div class="header-main container">
        <h1 class="logo col-md-4 col-sm-4">
            <!--<%= link_to("LOCKSURE", root_path) %>-->
          <a href="/">
            <img class="img-responsive custom_nav_logo" src="<%= asset_path "locksure_logo3.png"%>" alt="logo" />
          </a>
        </h1><!--//logo-->
        <div class="info col-md-8 col-sm-8">
            <div class="contact pull-right">
                <p class="phone"><i class="fa fa-phone"></i>Call us today +886 2 89131236</p>
                <p class="email"><i class="fa fa-envelope"></i><a>Show Email</a></p>
            </div><!--//contact-->
        </div><!--//info-->
    </div><!--//header-main-->
</header><!--//header-->
  <%= javascript_include_tag 'header' %>
